config SYS_BOARD
	default "vhgw"

config SYS_VENDOR
	default "datarespons"

config SYS_CONFIG_NAME
	default "vhgw"

config IMX_CONFIG
	default "board/datarespons/vhgw/imximage-spl.cfg"

source "board/datarespons/common/Kconfig"
